DB_URL=your_database_url
DB_URL_USERNAME=your_database_username
DB_URL_PASSWORD=your_database_password
DB_URL_DATABASE=your_database_name
NEXT_PUBLIC_API_VERSION=v1
AUTH_SECRET=your_auth_secret
REDIS_URL=your_redis_url
REDIS_TOKEN=your_redis_token