{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "tabWidth": 2
}